footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natours logo')
  
  ul.footer__nav
    li
      i.fa-solid.fa-code.footer__icon
      span Website created with Node.js
    li
      i.fa-solid.fa-graduation-cap.footer__icon
      span Based on Jonas Schmedtmann's Course
    li
      a(href='https://www.udemy.com/course-dashboard-redirect/?course_id=1672410' target='_blank')
        i.fa-solid.fa-link.footer__icon
        span Udemy Course

  ul.footer__contact
    li
      i.fa-solid.fa-bug.footer__icon
      span For bugs send me a feedback
    li
      a(href='mailto:georgekolonas23@gmail.com')
        i.fa-solid.fa-envelope.footer__icon
        span georgekolonas23@gmail.com

  p.footer__copyright &copy; by George Kolonas.