footer.footer 
    .footer__logo 
       img(src='/img/logo-green.png' alt='Natours logo')
    ul.fouter__nav 
        li a Website created with Node.js
        li Based on the Udemy Node js Course By Jonnas Schmedtmann
        li: a(href='https://www.udemy.com/course-dashboard-redirect/?course_id=1672410') Udemy Course
        li for bugs sent me a feedback in my email 
        li georgekolonas23@gmail.com
    p.footer__copyright &copy; by George Kolonas.
