header.header
  .header__overlay
  .header__toggle
    button.nav__toggle-btn(aria-label="Toggle navigation")
      svg.nav__toggle-icon
        use(xlink:href="/img/icons.svg#icon-menu")
  nav.nav.nav--tours
    a.nav__el(href='/') Home ðŸŒ
  .header__logo
    img(src='/img/background.png' alt='Natours logo')
  .header__tagline
      a.header__tagline-link(href='/') Explore with Natours
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Log out âžœ
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span= user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Log in ðŸ”“
      a.nav__el.nav__el--cta(href='/signup') Sign up ðŸ“
  script.
    //- document.querySelector('.nav__toggle-btn').addEventListener('click', () => {
    //-   document.querySelectorAll('.nav').forEach(nav => nav.classList.toggle('nav--open'));
    //-   document.querySelector('.header__overlay').classList.toggle('nav--open');
    //- });
