extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot Your Password?
      form.form.form--forgot-password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
          h2(style='font-weight: normal') Enter your email address to receive a password reset link.
        .form__group
          button.btn.btn--blue(type='submit') Send Reset Link

      if error
        p.error #{error}
      if success
        p.success #{success}
