extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form.form--reset-password
        .form__group
          label.form__label(for='password') New Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          label.form__label(for='passwordConfirm') Confirm Password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--blue(type='submit') Reset Password
      if error
        p.error #{error}
      if success
        p.success #{success}
