@charset "UTF-8";

/* 1. Base (Ρυθμίσεις, Variables, Resets) */
@import './base/_base.css';
@import './base/_typography.css';
@import './base/_utilities.css';

/* 2. Components (Κουμπιά, Κάρτες, Φόρμες) */

@import './components/_buttons.css';
@import './components/_cards.css';
@import './components/_forms.css';
@import './components/_alerts.css';
@import './components/_reviews.css';
@import './components/_map.css';

/* 3. Layout (Footer, Sidebar) */
@import './layout/_header.css'; 
@import './layout/_footer.css';
@import './layout/_sidebar.css';

/* 4. Pages (Hero sections, CTA sections) */
@import './pages/_tour.css';
