.card-container {
  max-width: 128rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

.card {
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-grey-light);
  transition: 0.3s all;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}

.card__header { position: relative; }

.card__picture {
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 95%);
  height: 20rem;
}

.card__picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right bottom, rgba(56, 189, 248, 0.6), rgba(30, 64, 175, 0.6)); */
  
}

.card__picture-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  padding: 2rem 2.5rem;
}

.card__sub-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  grid-column: 1 / -1;
  color: var(--color-grey-dark);
}

.card__text {
  grid-column: 1 / -1;
  font-size: 1.4rem;
  font-style: italic;
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
  color: var(--color-grey);
}

.card__data {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.card__icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--color-primary);
  margin-right: 0.6rem;
}

.card__footer {
  background-color: var(--color-light);
  padding: 2rem 2.5rem;
  border-top: 1px solid var(--color-grey-light);
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: auto;
}

.card__footer__review {
  background-color: var(--color-light);
  padding: 2rem 2.5rem;
  border-top: 1px solid var(--color-grey-light);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.card__footer-value { font-weight: 600; color: var(--color-grey-dark); }
.card__footer-text { color: var(--color-grey); }
.card__ratings { grid-row: 2 / 3; }
.card .btn-small, .card .btn { grid-row: 1 / 3; justify-self: end; align-self: center; border: 1px solid rgb(208, 201, 201); color: white; background-color: var(--background-color);}

@media only screen and (max-width: 62.5em) {
  .card-container { grid-template-columns: repeat(2, 1fr); grid-gap: 3rem; }
}
@media only screen and (max-width: 37.5em) {
  .card-container { grid-template-columns: 1fr; grid-gap: 2rem; }
  .card__details { grid-template-columns: 1fr; }
}