.footer {
  background-color: var(--color-light);
  padding: 6rem 4rem 3rem; 
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: auto 1fr auto; 
  /* based on 3 */
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  align-items: start;
}


.footer__logo { 
  grid-row: 1 / 3; 
  align-self: center; 
}
.footer__logo img { 
  height: 6rem; 
  filter: grayscale(1); 
  opacity: 0.7;
}


.footer__nav, 
.footer__contact { 
  list-style: none; 
  display: flex; 
  flex-direction: column; 
  gap: 1rem;
}

.footer__nav li, 
.footer__contact li {
  display: flex;
  align-items: center;
  color: var(--color-grey);
}

.footer__nav a, 
.footer__contact a { 
  color: var(--color-grey); 
  text-decoration: none !important; 
  transition: all 0.2s;
}

.footer__nav a:hover, 
.footer__contact a:hover { 
  color: var(--color-primary); 
}

/* --- ICONS --- */
.footer__icon {
  margin-right: 1rem;
  font-size: 1.4rem;
  color: var(--color-accent); 
  width: 2rem;
  text-align: center;
}


.footer__copyright { 
  grid-column: 1 / -1; 
  border-top: 1px solid var(--color-grey-light);
  padding-top: 2rem;
  text-align: center;
  color: var(--color-grey);
  margin-top: 2rem;
}


@media only screen and (max-width: 50em) {
  .footer { 
    grid-template-columns: 1fr; 
    justify-items: center; 
    text-align: center;
    gap: 3rem;
  }
  
  .footer__logo { grid-row: 1; }
  
  .footer__nav li, 
  .footer__contact li {
    justify-content: center;
  }
}