.user-view {
  background-color: var(--color-white);
  max-width: 128rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-md);
  display: flex;
}

.user-view__menu {
  flex: 30rem 0 0;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary));
  padding: 3rem 0;
}

.user-view__content { flex: 1; padding: 5rem 0; }
.user-view__form-container { max-width: 62rem; margin: 0 auto; padding: 0 4rem; }

.side-nav { list-style: none; }
.side-nav li { margin: 0.8rem 0; border-left: 0 solid var(--color-white); }
.side-nav li:hover { border-left: 3px solid var(--color-white) !important; }
.side-nav--active { border-left: 3px solid var(--color-white) !important; }
.side-nav--active a { transform: translateX(-2px); }

.side-nav a:link, .side-nav a:visited {
  padding: 0.8rem 3rem;
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.side-nav a:hover, .side-nav a:active { color: var(--color-accent); }
.side-nav svg { height: 1.8rem; width: 1.8rem; fill: var(--color-white); margin-right: 1.5rem; }

.admin-nav { margin-top: 4rem; }
.admin-nav__heading {
  margin: 0 4rem 1rem 3rem;
  padding-bottom: 0.3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

@media only screen and (max-width: 50em) {
  .user-view { flex-direction: column; }
  .user-view__menu { flex: none; padding: 2rem 0; }
  .user-view__content { padding: 3rem 1.5rem; }
}
@media only screen and (max-width: 37.5em) {
  .user-view__form-container { padding: 0 2rem; }
}